<!--Layout gắn module: Header_Layout-->

<a class="d-flex" href="@Url.Action("LaptopAccessories", "Products")"><span class="material-icons" >
    mouse
</span><div id="elementID">Phụ kiện</div><span class="material-icons">
    keyboard_arrow_down
</span></a>
<ul>
    @*<img id="headermenu" src="~/Images/it_service/menu_phukien.jpg">*@
    <li>
        <a href="#">Balo, túi chống xốc</a>
    </li>
    <li>
        <a href="#">Bàn di chuột</a>
    </li>
    <li>
        <a href="#">Bàn phím máy tính</a>
    </li>
   
</ul>