<!--Layout gắn module: Header_Layout-->
<a class="d-flex" href="@Url.Action("ViewCart", "Cart")" id="goToCart">
    @*<i class="fa fa-shopping-cart" id="elementID" aria-hidden="true"></i>*@
    @**@
    <span class="material-icons">
        shopping_cart
    </span><span class="badge badge-warning" id="lblCartCount"></span><div id="elementID">Giỏ hàng</div> 
</a>