<!--Layout gắn module: Header_Layout-->
<a class="d-flex" href="@Url.Action("Listbanner", "Discount")">
    @*<i class="fa fa-tags" id="elementID" aria-hidden="true"></i>*@<span class="material-icons">
    local_offer
</span><div id="elementID">Khuyến Mãi</div>
</a>