@*Layout sử dụng chính: Main_Layout*@

<!--start footer layout-->
<div class="container" style="background-color:">
    <div class="row pb-2">
        <div class="footer_blog ">
            <div class="row ">
                <!-- Start chính sách mua hàng và bảo hành -->
                <div class="col-md-3">
                    <div class="main-heading ">
                        <h4>Chính sách Mua hàng</h4>
                    </div>
                    <p>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> QĐ giá cả và hình thức thanh toán</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Quy định chung</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Chính sách trả góp</a>
                        </span><br />
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Chính sách đổi trả và hoàn tiền</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Chính sách bảo hành</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Chính sách vận chuyển</a>
                        </span>
                    </p>
                </div>
                <!-- end chính sách mua hàng và bảo hành -->
                <div class="col-md-3 ">
                    <div class="main-heading">
                        <h4>Phương thức thanh toán</h4>
                    </div>
                    <ul style="" id="ul_top_hypers">
                        <!-- start QR Code -->
                        <li class="payment">
                            <div class="holder" style="float:left">
                                <div>
                                    <a href="#">
                                        <i id="footer-colorimg" class="fa fa-qrcode" aria-hidden="true"></i>
                                        <P>QR Code</P>
                                    </a>
                                </div>

                            </div>
                        </li>
                        <!-- end QR Code -->
                        <!-- Start Tiền mặt -->
                        <li>
                            <div class="holder" style="float:left">
                                <div>
                                    <a href="#">
                                        <i id="footer-colorimg" class="fa fa-money" aria-hidden="true"></i>
                                        <P>Tiền mặt</P>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- end Tiền mặt -->
                        <!-- Start Internet Banking -->
                        <li>
                            <div class="holder" style="float:left">
                                <div>
                                    <a href="#">
                                        <i id="footer-colorimg" class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                        <P>Internet Banking</P>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- end Internet Banking -->
                    </ul>
                </div>
                <!-- Start Thông tin FPT Computer -->
                <div class="col-md-3 ">
                    <div class="main-heading left_text">
                        <h4>Thông tin FPT Computer</h4>
                    </div>
                    <p>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Thông tin liên hệ</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Yêu cầu hỗ trợ</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Tin công nghệ</a>
                        </span>
                    </p>
                </div>
                <!-- end Thông tin FPT Computer -->
                <!-- Start liên hệ -->
                <div class="col-md-3">
                    <div class=" left_text">
                        <h4>Liên hệ</h4>
                    </div>
                    <p>
                        Địa chỉ: 181 Lê Duẩn - Phường Bến Thủy - Thành Phố Vinh gần Đại Học Vinh<br>
                        <span style="font-size:18px;">
                            <a href="tel:+84123456789">Hotline: 0963447228</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="mailto:support@nvtcomputer.tech">
                                Hỗ trợ:
                                phanthanhchi37@gmail.com
                            </a>
                        </span>
                    </p>
                    <div>
                        @*<img src="https://res.cloudinary.com/van-nam/image/upload/v1625046977/resource/dcma_k45pln.png" width="120" height="55"/>*@
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
<!--end footer layout-->