<!--Layout gắn module: Header_Layout-->
<!--start laptop module-->
<a class="d-flex" href="@Url.Action("Laptop", "Products")"><span class="material-icons" >laptop</span><div id="elementID">Laptop</div><span class="material-icons">
    keyboard_arrow_down
</span></a>
<ul>
         
            @Html.Action("Brandlistpartial", "Products")          
</ul>
<!--end laptop module-->