<!--Layout gắn module: Header_Layout-->

<a class="d-flex" href="@Url.Action("News", "News")">
    @*<i class="fa fa-newspaper-o" id="elementID" aria-hidden="true"></i>*@<span class="material-icons">
    feed
</span><div id="elementID">Tin tức</div>
</a>