<!--Layout gắn module: Header_Layout-->

<button id="toggle-search" class="header-button">Search</button>
<form id="search-form" action="@Url.Action("SearchResult", "Products")" method="get">
    <fieldset>
        <input name="s" type="search" placeholder="Tìm kiếm sản phẩm, phụ kiện"/>
    </fieldset>
    <input type="submit" value="Ok"/>
</form>