
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!-- start inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                <li class="active">Tin tức</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 blog_grid mt-20px ">
    <div class="container">
        <div class="row">
            <!--start blog-->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right pe-3">
                <div class="full">
                    <div class="blog_section margin_bottom_0">
                        <div>
                            <p class="blog_head">Tai nghe không dây Galaxy Buds 2 lộ ảnh thiết kế rõ nét trước ngày ra mắt: Có cả màu tím cá tính Tai nghe không dây Galaxy Buds 2 lộ ảnh thiết kế rõ nét trước ngày ra mắt: Có cả màu tím cá tính</p>
                            <div class="post_info d-flex mt-20px">
                                <div class="pe-2" style="color:#288ad6"><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</div>
                                <div class="pe-2" style="color:#999"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;15</div>
                                <div class="pe-2" style="color:#999"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;28/07 2021</div>
                            </div>
                        </div>
                        <div> <img class=" w-100" src="https://cdn.tgdd.vn/Files/2021/07/22/1370096/samsunggalaxybuds2logo_1280x720-800-resize.jpg" alt="#"> </div>
                        <!--start content 1-->
                        <div class="blog_feature_cantant">

                            <p>Sự kiện Galaxy Unpacked sẽ được tổ chức vào ngày 11/8, dự kiến mẫu tai nghe Galaxy Buds 2 sẽ được Samsung trình làng. Trước ngày ra mắt, hình ảnh thiết kế rõ nét về mẫu tai nghe không dây đã được tiết lộ.</p><p>
                                Theo hình ảnh được tiết lộ bởi Evan Blass, thiết kế của tai nghe được cho là tương tự Galaxy Buds+ còn vỏ sạc thì sẽ giống với Galaxy Buds Live năm ngoái. Galaxy Buds 2 sẽ có 4 màu sắc đó là: Đen, Trắng, Tím và Xanh lục trong khi vỏ hộp sẽ có màu trắng.
                            </p>
                        </div>
                        <!--end content 1-->
                        <div class=""> <img class="w-100" src="https://cdn.tgdd.vn/Files/2021/07/22/1370096/samsunggalaxybuds2logo_1280x720-800-resize.jpg" alt="#"> </div>
                        <p class="mt-20px">Trong sự kiện lần này hãng cũng sẽ ra mắt dòng sản phẩm màn hình gập Galaxy Z Fold 3 và Galaxy Z Flip 3, ngoài ra còn có Galaxy Watch 4 và Galaxy Watch 4 Active.</p><p><br></p><p>Bạn đánh giá thế nào về thiết kế và màu sắc của Samsung Galaxy Buds 2?</p><p><br></p><p class="fw-bold">Nguồn: Gizchina</p><p><br></p><p class="fw-bold">Xem thêm: Galaxy Buds 2 sẽ có một tính năng đã xuất hiện trên AirPods từ lâu</p>
                        <div class="bottom_info margin_bottom_30_all">
                            <div class="pull-right">
                                <div class="shr">Share: </div>
                                <div class="social_icon">
                                    <ul>
                                        <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="comment_section">
                            <div class="pull-left text_align_left">
                                <div class="full">
                                    <div class="preview_commt">
                                        <a class="comment_cantrol preview_commat" href="@Url.Action("NewsDetail","News")"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/07/20/1369437/iphone12series_1280x720-300x200.jpg" alt="#"> <span><i class="fa fa-angle-left"></i> Bài viết trước</span> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text_align_right">
                                <div class="full">
                                    <div class="next_commt">
                                        <a class="comment_cantrol preview_commat" href="@Url.Action("NewsDetail","News")"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/07/20/1369517/redminote-10_1280x720-300x200.jpg" alt="#"> <span>Bài viết kế tiếp <i class="fa fa-angle-right"></i></span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--end blog-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-left">
                <div class="side_bar">
                    <div class="side_bar_blog">
                        <p class="h4">Tìm kiếm</p>
                        <div class="side_bar_search">
                            <div class="input-group stylish-input-group">
                                <input class="form-control" placeholder="Search" type="text">
                                <span class="input-group-addon">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="side_bar_blog">
                        <p class="h4">Bài viết gần đây</p>
                        <div class="recent_post">
                            <ul>
                                <li>
                                    <p class="post_head"><a href="#">24h công nghệ có gì HOT 22/7: Galaxy A52, Galaxy A72 nhận được bản cập nhật giúp cải thiện camera, Galaxy M21 2021 ra mắt</a></p>
                                    <p class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;28/07/2021</p>
                                </li>
                                <li>
                                    <p class="post_head"><a href="#">5 mẹo sử dụng laptop cực hay nhưng nhiều bạn vẫn chưa biết, giúp tận dụng tối đa tiện ích mà Windows mang lại</a></p>
                                    <p class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<span style="font-size: 15px;">28/07/2021</span></p>
                                </li>
                                <li>
                                    <p class="post_head"><a href="#">POCO xác nhận POCO X3 GT dùng chip MediaTek Dimensity 1100, có thể được định giá trên dưới 7 triệu đồng</a></p>
                                    <p class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<span style="font-size: 15px;">28/07/2021</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <p class="h4">Phân loại</p>
                        <div class="categary">
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a> Mẹo hay</li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a>Đánh giá</li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> </a>Sự kiện</li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a>Tư vấn</li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> </a>Laptop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <p class="h4">TAG</p>
                        <div class="tags">
                            <ul>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">MVC</a></li>
                                <li><a href="#">Laptop</a></li>
                                <li><a href="#">SmartPhone</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <p class="h4">Chủ đề hot trong tháng</p>
                        <div class="categary">
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right"></i>&nbsp; Tháng 7 (12)</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Tháng 6(12)</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Tháng 5(12)</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Tháng 4(12)</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Tháng 3(12)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
