
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section mb-70px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                <li class="active">Quên mật khẩu</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!--start quên mật khẩu modal popup-->
@using (Html.BeginForm("ForgotPassword", "Account",
   null,
   FormMethod.Post))

{
    <section class="h-80 mb-60px">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="shadow-lg pt-3 rounded-3">
                        <div class="card-body ps-3 pe-3">
                            <p class=" card-title h4 center text-uppercase uper fw-bold mb-4">Quên mật khẩu</p>
                            <form method="POST" id="Forgotpassword" class="needs-validation" novalidate="" autocomplete="off">
                                <div class="text-success">
                                    @ViewBag.Message1
                                </div>
                                <div class="text-danger">
                                    @ViewBag.Message2
                                </div>
                                <div class="mb-3">
                                    <label class="mb-1 text-muted " for="password">Email</label>
                                    @Html.TextBox("EmailID", "", new { @class = "form-control", @id = "Emailforgot", @required = "required", @type = "email" })
                                    <div class="invalid-feedback">
                                        Email is invalid
                                    </div>
                                </div>
                            </form>
                            <div class="form-group mb-4 pb-4">
                                <button class="text-uppercase btn bt_main w-100" onclick="ForgotPass()" type="submit">Gửi</button>
                            </div>
                        </div>
                        <div class="card-footer  py-3 border-0 ">
                            <div class="text-center">
                                Bạn đã nhớ mật khẩu? <a href="#" onclick="PopupModalSignIn()" data-toggle="modal" data-target="#ShowModalSignIn" data-dismiss="modal" class="fw-bold">Đăng nhập</a> @*nếu bạn chưa có tài khoản thì ấn vào đăng ký*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end quên mật khẩu popup-->
}